<aside id="sidebar" >
    <div class="sidebar-header">
       Mappoints App
    </div>
    <div class="sidenav-outer">
        <div class="side-menu">
            <div class="menu-body">
                <ul class="sidenav">
                        <li [routerLinkActive]="['active']">
                                <a [routerLink]="['/profile']">
                                        <i class="fa fa-home"></i>
                                </a>
                                <ul class="nested-dropdown animated">
                                    <li><a [routerLink]="['/profile']">About</a></li>
                                </ul>
                            </li>
                   
                    <li [routerLinkActive]="['active']">
                        <a [routerLink]="['home']">
                              <i class="fa fa-map-marker"></i>
                        </a>
                        <ul class="nested-dropdown animated">
                            <li><a [routerLink]="['/home']">Map</a></li>
                        </ul>
                    </li>
                    <li [routerLinkActive]="['active']">
                            <a [routerLink]="['/home']">
                                  <i class="fa fa-sign-out"></i>
                            </a>
                            <ul class="nested-dropdown animated">
                                <li>
                                  <a class="dropdown-item" href="javascript:void(0)" (click)="logout()"> Sign-out </a>
                                </li>
                            </ul>
                        </li>           
                         
                 
                 </ul>
            </div>
        </div>
        
        <div class="side-widgets">
            
            <div class="widgets-content">
                 <div class="profile text-center"> 
                    <a ui-sref="profile"><img width="50%" src="assets/images/logo.svg"  /></a>
                    <div class="text-center avatar-name">Mappoints</div>
                </div>
         
         
        
             
                
            </div>
        </div>
    </div>
</aside>
