
  div#mapgoogle {
        height:850px;
        width: 100%;
       
    }
    td {
        padding-left: 15px;
        padding-right: 15px;
    }
    .align-right {
                text-align: right
            }
    .align-center {
                text-align: center
            }  
     
 


