
 <div class="row animate">
        <div class="col-sm-12">
           <div class="card">
                <div class="card-inverse card-primary card-header">
                     <table cellspacing="0" cellpadding="0" >
                      <tr>
                        <td>
                         <span class="card-title">Maps :&nbsp;&nbsp;  </span>
                        </td>
                         <td>
                        <button class="btn btn-info"  title="zoom++" (click)="setZoomPlus()">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        </td>
                       
                         <td >
                        <button class="btn btn-info"  title="zoom--" (click)="setZoomMinus()">
                          <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                        </td>
                      
                         <td>
                          <button class="btn btn-success"  title="save new markers" (click)="saveMarkers()">
                          <i class="fa fa-floppy-o" aria-hidden="true"></i>
                         </button>
                        </td>
                         <td>
                          <select (change)="searchRadar(poi.value)"  class="form-control" #poi >
                            <option value="notchosen" selected >not chosen</option>
                            <option value ="pharmacy"> pharmacies</option>
                            <option value="gas station" > gas stations</option>
                            <option value="school" > schools</option>
                            <option value="restaurant" > restaurants</option>
                       </select> 
                         </td>
                        
                       
                      </tr> 
                    </table>   
                </div>
               
                <div class="card-block" style="padding-bottom: 0">
                  
                        <div id="mapgoogle" #mapgoogle> </div>
            
      
      
         
                </div>
      
            </div>
    
        </div>
    </div>  
    








