<nav class="navbar navbar-inverse fixed-top navbar-toggleable-sm">
    <button class="navbar-toggler navbar-toggler-left" (click)="toggleSidebar()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-header hidden-md-up">
        <a class="navbar-brand" href="javascript:void(0)">Mappoints Odessa</a>
    </div>

    <div class="collapse navbar-collapse navbar-toggleable-sm">
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="">
            </div>
        </form>
       
        <ul class="navbar-nav ml-auto">
        
                        
           
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                    <img src="assets/images/flat-avatar.png" class="topnav-img" alt="Profile" style="height: 20px">{{getName()}}
                </a>
                <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                    <a class="dropdown-item" [routerLink]="['/dashboard', 'profile']">
                      Profile
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">
                       Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="navbar-toggler navbar-toggler-right profile-sm" ngbDropdown>
        <a class="navbar-toggler navbar-toggler-right dropdown-toggle" ngbDropdownToggle>
            <img src="assets/images/flat-avatar.png" class="topnav-img" alt="Profile">
        </a>
        <div class="dropdown-menu dropdown-menu-right animated fadeIn">
            <a class="dropdown-item" [routerLink]="['/dashboard', 'profile']">
                Profile
            </a>
            <a class="dropdown-item" [routerLink]="['/']">
               Logout
            </a>
        </div>
    </div>
</nav>
