     <div class="modal-dialog">
                <div class="modal-content">
                   <div class="modal-header">
                     <button type="button" class="close" (click)="close()" >&times;</button>
                     <h4 class="modal-title">Input Marker Title</h4>
                   </div>
                   <div class="modal-body">
                                  <form  [formGroup]="myForma">
                                    
                                          <div class="form-group">
                                            <label for="name">Input marker title</label>
                                            <input #name autofocus type="text" class="form-control" formControlName="name" [(ngModel)]="markertitle">
                                             <div class="alert alert-danger" *ngIf="myForma.controls['name'].dirty && !myForma.controls['name'].valid"> имя не менее 4 символов</div>
                                         </div>
                                                                   
                                     </form> 
                            
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
                     <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>
                   </div>
                 </div>
              </div>  
 