<div class="login-page animate">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <a class="hvr-pulse" [routerLink]="['/dashboard', 'home']">
            <img src="assets/images/logo.svg" class="user-avatar" /></a>
            <h1>Mappoints Error </h1>
            <div class="four-container text-center">
                <h1>404</h1>
            </div>
            Oops! Page not found.
        </div>
    </div>
</div>
