<div class="row animate">
	<div class="col-sm-12">
		 <div class="card">
					<div class="card-inverse card-primary card-header">
							 <table cellspacing="0" cellpadding="0" >
								<tr>
									
									 <span class="card-title">About :&nbsp;&nbsp;  </span>
																	
								 
								</tr> 
							</table>   
					</div>
				 
					<div class="card-block" >
						
					I am interested in being a part of a team developing commercial grade, realtime control centre dashboards.

					The Ideal Candidate 

					You will have a thorough technical knowledge of software development methodologies, design and implementation with an emphasis on Scrum Agile and XP. Ideally you will have extensive experience with the following: MongoDB, Angular JS, Restful services. 
					
					You will have detailed knowledge of standards based architectures as they apply across multiple IT platforms. 
					
					Deep, up to date, technical knowledge of mid-range technologies and knowledge 0f modern software development lifecycles including Continuous Integration and Continuous Delivery. 
					
					Requirement 
					
					We would like to talk to you if you have completed a Bachelor's degree in Software Engineering or computer science and 8+ years of technical experience in software design and product support. You will have excellent analytical and design skills at multiple product level, excellent skills in research and analysis. 
					
					You will also have a thorough technical knowledge of software development methodologies, design and implementation with an emphasis on Scrum Agile and XP. Excellent analytical and design skills at multiple product level, excellent skills in research and analysis, project planning and implementation. 
					
					What Else 
					
					We offer a great benefits package with, competitive market salaries, with full healthcare, 26 days holidays, pension and bike to work scheme to mention a few. If your application is successful we will call you for an initial pre -screen and if that goes well we will invite you into our office for a face to face interview. 
					
					To speak to us about this role in more detail apply online. 


	 
					</div>

			</div>

	</div>
</div>  
