<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <ng-progress [showSpinner]="false"></ng-progress>
  <router-outlet></router-outlet>
  <toaster-container></toaster-container>
</div>

