<div class="login-page animate">
    <div class="row justify-content-md-center">
        <div class="col-lg-4">
              	<img src="assets/images/logo.svg" class="user-avatar" />
            <h1>Sign Up</h1>
            <form [formGroup]="myForm">
				<div class="form-content">
					<div class="form-group">
                                         <label for="InputEmail">Email address</label>
						<input type="text" text-success class="form-control  input-lg" formControlName="email"
						 placeholder="Email" [(ngModel)]="email">
						 <span style="color:red" *ngIf="myForm.controls['password'].dirty && myForm.controls.email.invalid"> Please enter a valid email address</span>
                    </div>
                    
                    <div class="form-group">
                        <label for="InputEmail">full name</label>
                       <input type="text" text-success class="form-control  input-lg" formControlName="name"
                                          placeholder="Name" [(ngModel)]="name">
                          <span style="color:red" *ngIf="myForm.controls['name'].dirty && myForm.controls.name.invalid"> Please enter a valid name</span>
                   </div>

					<div class="form-group">
                         <label for="InputPassword">Password</label>
						<input type="password" text-error class="form-control  input-lg" formControlName="password"
						 placeholder="Password" [(ngModel)]="password" >
						<span style="color:red" *ngIf="myForm.controls['password'].dirty && myForm.controls.password.invalid"> 
							Please enter a valid password (UpperCase, lowercase and number)</span>

					</div>
				</div>
			    <a class="btn rounded-btn" (click)="signup(myForm.value)" >Sign Up</a>&nbsp;
                	&nbsp;
               <a class="btn rounded-btn" [routerLink]="['/login']"> Log In </a>
        
			</form>		

        </div>
    </div>
</div>
