.main-container {
    margin-left: 280px;
    margin-top : 50px;
    padding:0px;
    transition: all .2s ease-in-out;
    overflow: hidden;
    background: #ECF0F1;
}
@media screen and (max-width: 768px) {
    .main-container {
        margin-left: 0;
    }
    .push-right {
        .main-container {
            margin-right: -280px;
        }
    }
}
